{{ $fonts := resources.Get "css/fonts.css" | minify | fingerprint | resources.PostProcess }}
{{ $normalize := resources.Get "css/normalize.css" | minify | fingerprint | resources.PostProcess }}
{{ $all := resources.Get "css/all.min.css" | minify | fingerprint | resources.PostProcess }}
{{ $vncnt := resources.Get "css/vncnt.css" | minify | fingerprint | resources.PostProcess }}
<link rel="stylesheet" href="{{ $fonts.RelPermalink }}" type="text/css">
  <link rel="stylesheet" href="{{ $normalize.RelPermalink }}">
  <link rel="stylesheet" href="{{ $all.RelPermalink }}">
  <link rel="stylesheet" href="{{ $vncnt.RelPermalink }}">
